{% extends 'base.html' %}
{% load socialaccount %}

{% block page_title %}
Login
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          {% include 'components/forms/login_form.html' %}
          <hr />
          Or 
          <hr />
          <a href="{% provider_login_url 'github' %}" class="btn btn-dark">
            <i class="fab fa-github"></i> Sign in with GitHub
          </a>
          
        </div>
        <div class="card-footer">
          <p>Don't have an account yet? <a href="{% url 'accounts:register' %}">Register now</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
