{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>My Account</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <hr class="my-4">
    <h3>Connected Accounts</h3>
    {% if github_connected %}
        <p>Github: Connected</p>
    {% else %}
        <p class="mt-4">Github: <a href="{% url 'accounts:connect_github' %}" class="btn btn-dark ml-5">
            <i class="fab fa-github"></i> Connect GitHub Now
          </a></p>
    {% endif %}
    <hr class="my-4">
    <h3>Integrations</h3>
    <form method="post" name='gpt_integration_key_form' action="{% url 'accounts:update_integration' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for='gpt_integration_key'>Enter GPT Integration Key</label>
            {% if integration_exists %}
                <input class="form-control" name='key' type='text' id='gpt_integration_key' value="{{ gpt_integration_key }}">
            {% else %}
                <input class="form-control" name='key' type='text' id='gpt_integration_key'>
            {% endif %}
        </div>
        <div class="form-group">
            <label for='organization_id'>Enter Organization ID</label>
            {% if integration_exists %}
                <input class="form-control" name='org_id' type='text' id='organization_id' value="{{ organization_id }}">
            {% else %}
                <input class="form-control" name='org_id' type='text' id='organization_id'>
            {% endif %}
        </div>
        {% if integration_exists %}
            <button class="btn btn-primary" type='submit'>Update Integration</button>
        {% else %}
            <button class="btn btn-primary" type='submit'>Create Integration</button>
        {% endif %}
    </form>    
</div>
{% endblock %}
